@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Dit is een test om te zien of de commit van github werkt. Fijne dag nog verder!</p>
</div>
